.player {
	height : 10%;
	width: 2%;
	background-color: white;
	position: absolute;
}

body {
	background-color: black;
	margin:0;
	padding: 0;
}

#cont {
	position: absolute;
	width:100%;
	height:100%;
}

#p0 {
	left: 5%;
	top:20%;
}

#p1 {
	left: 95%;
	top:20%;
}

#ball {
	height : 2%;
	width: 1%;
	top: 30%;
	left: 30%;
	background-color: white;
	position: absolute;
}
